{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--Css Links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'app/images/Neel.png' %}" type="image/x-icon">

    <title>Dairy Products | {% block title %}{% endblock title %}</title>

</head>
<body>
    



    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'app/images/Neel.png' %}" width="70" height="50" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'CD' %}">Lasssy</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'LS' %}">Milkshank</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'MK' %}">Curd</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Ghee</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Panner</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'IC' %}">Ice-craimse</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'aboute' %}">Aboute Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
              </li>



            </ul>



            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if user.cart %}
            <li class="nav-item mx-2">
              <a class="nav-link text-white" href="{% url 'cart' %}"><i style="font-size: 1.4rem; color: black;" class='bx bx-shopping-bag'></i> <span style="color: black;">({{user.cart.orders.count}})</span></a>
            </li>
  
            {% else %}
            <li class="nav-item mx-2">
              <a class="nav-link text-white"><i style="font-size: 1.4rem; color: black;" class='bx bx-shopping-bag'></i> <span style="color: black;">(0)</span></a>
            </li>
          {% endif %}

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user}}</a>
            

            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'change-password' %}">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>      
          </li>
            {% else %}
          <li class="nav-item mx-2">
            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link text-white" href="{% url 'registration' %}">Registeration</a>
          </li>
          {% endif %}




        </ul>
          
        </div>
      </nav>

      {% block panner-slider %}{% endblock panner-slider %}
      {% block information %}{% endblock information %}
      {% block content %}{% endblock content %}

      <footer class="container-fluid fixed-bottom text-center bg-success p-2 mt-5">
        Copyraight || Devloped By : Rtecnology 2023
      </footer>


    <!--Js Links-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'app/js/all.min.js' %}"></script>

    <script src="{% static 'app/js/myscripts.js' %}"></script>

</body>
</html>